# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

export CARGO_HOME="/env/cargo"
export ENVNAME=rust
export PATH="$PWD/target/release:$PATH"
export GITHUB_TOKEN=

export_alias just_build 'clear && cd $(git rev-parse --show-toplevel) && cargo build'
export_alias run '$(git rev-parse --show-toplevel)/target/release/$(basename $(git rev-parse --show-toplevel)) $@'

export_alias binsize 'filei=$(git rev-parse --show-toplevel)/target/debug/$(basename $(git rev-parse --show-toplevel)); [[ -f $filei ]] && du -h $filei | cut -f1'
export_alias coderun 'com.visualstudio.code --folder-uri "vscode-remote://ssh-remote+jammy/doc/code/PROJECTS/roc" &'
